.vscode/
*.zip
*.odgt
.bash_history
.python_history
.cache/
.local/
crowdhuman-*x*/
01_crowdhuman2yolo/data/raw/Images/
crowdhuman-*x*.data

hollywoodheads-*x*/
02_hollywoodheads2yolo/data/raw/HollywoodHeads/
hollywoodheads-*x*.data
mov_*.txt
mov_*.jpeg